<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="memo-container">
  <h1>メモアプリ ✍️</h1>
    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
