<form method="post" action="/memos">
  <input type="text" name="title" placeholder="メモ名" ><br><br>
  <textarea name="content" placeholder="内容を書いてください" rows="5" cols="30"></textarea><br><br>
  <button type="submit">保存</button>
</form>
