      body, input, textarea, h1, p, div, label, main {
        font-family:
          "Segoe UI",
          "Helvetica Neue",
          "Arial",
          sans-serif;
        font-size: 1em;
        font-weight: 700;
      }
    .memo-container {
      position: relative;
      z-index: 1;
      max-width: 400px;
      margin: 4em auto;
      background-color: rgba(122, 182, 122, 0.2);
      border-radius: 12px;
      padding: 2em;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      color: #226222;
      font-weight: 500;
      line-height: 1.6;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-align: center;
      margin-bottom: 1em;
      font-weight: bold;
      font-size: 2em;
      color: #226222;
    }

    textarea {
      width: 100%;
      height: 200px;
      padding: 1em;
      font-size: 1em;
      border: 2px solid #98c798;
      border-radius: 8px;
      resize: vertical;
      box-sizing: border-box;
      background-color: rgba(230, 255, 230, 1);
      color: #134613;
      font-weight: 600;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      transition: border-color 0.3s, background-color 0.3s;
      text-shadow: none;
    }

    textarea:focus {
      border-color: #63a763;
      outline: none;
      background-color: rgba(240, 255, 240, 1);
    }

    button {
      background-color: #7ab67a;
      color: rgb(18, 80, 13);
      border: none;
      padding: 0.6em 1.2em;
      border-radius: 6px;
      margin-left: 0.5em;
      cursor: pointer;
      font-size: 1em;
      font-weight: 700;
      transition: background-color 0.3s;
    }

    .buttons a button, .buttons form button {
      margin-right: 10px;
    }
    .buttons form {
      display: inline;
    }

    button:hover {
      background-color: #2b5b2b;
    }

    .note-display {
      margin-top: 2em;
      background: rgba(230, 255, 230, 1);
      border: 2px dashed #98c798;
      border-radius: 8px;
      padding: 1em;
      min-height: 100px;
      white-space: pre-wrap;
      color: #134613;
      font-weight: 600;
      text-shadow: none;
    }

    @media (max-width: 640px) {
      .memo-container {
        margin: 2em 1em;
        padding: 1.5em;
      }
    }